<!--
<hello name="{{ name }}"></hello>
<p>
  Start editing to see some magic happen :)
</p>
-->

<u>inner html</u>
<br /><br />
<b>{{ yazi }}</b>
<p>
  nasılsın <b>{{ isim }} ?</b>
</p>

<hr />
<p>
  <u>one way</u>
  <br />
  1:<input type="checkbox" name="" id="" [checked]="isChecked" />
  <br />
  2:<input type="checkbox" name="" id="" [checked]="isCheckedFalse" />
  <br /><br />
  1: {{ isChecked }} 2: {{ isCheckedFalse }}
</p>
<hr />
<p>
  <u>two way</u>

  <br />
  3:<input type="checkbox" name="" id="" [(ngModel)]="isCheckedTwoWay" />
  <br /><br />
  3:{{ isCheckedTwoWay }}
  <br />
  colored
  <br />
</p>

<p [ngClass]="isCheckedTwoWay ? 'yesil' : 'kirmizi'">3:{{ isCheckedTwoWay }}</p>

<p></p>

<hr />
<u>static combo</u>
<p>
  <select>
    <option>AAA</option>
    <option>BBB</option>
    <option>CCC</option>
  </select>
</p>
<hr />
<u>binded combo</u>

<p>
  <select>
    <option *ngFor="let sehir of sehirler">
      {{ sehir }}
    </option>
  </select>
</p>

<hr />
<u> binded list </u>

<ul *ngFor="let sehir of sehirler">
  <li>{{ sehir }}</li>
</ul>

<hr />
<u> binded class </u>

<div *ngFor="let film of filmler">
  <div>
    <h3>{{ film.ad }}</h3>
    <input type="checkbox" [(ngModel)]="film.izlendiMi" name="" id="" />
  </div>
</div>

<hr />

<p>
  ninja intellisense<br />
  input:text.control
</p>
