<!--
<hello name="{{ name }}"></hello>
<p>
  Start editing to see some magic happen :)
</p>
-->
<app-header-menu></app-header-menu>

<u>inner html</u>
<br /><br />
<b>{{ yazi }}</b>
<p>
  nasılsın <b>{{ isim }} ?</b>
</p>

<hr />
<p>
  <u>one way</u>
  <br />
  1:<input type="checkbox" name="" id="" [checked]="isChecked" />
  <br />
  2:<input type="checkbox" name="" id="" [checked]="isCheckedFalse" />
  <br /><br />
  1: {{ isChecked }} 2: {{ isCheckedFalse }}
</p>
<hr />
<p>
  <u>two way</u>

  <br />
  3:<input type="checkbox" name="" id="" [(ngModel)]="isCheckedTwoWay" />
  <br /><br />
  3:{{ isCheckedTwoWay }}
  <br />
  colored
  <br />
</p>

<p [ngClass]="isCheckedTwoWay ? 'yesil' : 'kirmizi'">3:{{ isCheckedTwoWay }}</p>

<p></p>

<hr />
<u>static combo</u>
<p>
  <select>
    <option>AAA</option>
    <option>BBB</option>
    <option>CCC</option>
  </select>
</p>
<hr />
<u>binded combo</u>

<p>
  <select>
    <option *ngFor="let sehir of sehirler">
      {{ sehir }}
    </option>
  </select>
</p>

<hr />
<u> binded list </u>

<ul *ngFor="let sehir of sehirler">
  <li>{{ sehir }}</li>
</ul>

<hr />
<p>
  ninja intellisense<br />
  input:text.control
</p>

<hr />
<u> binded class </u>

<div *ngFor="let film of filmler">
  <div>
    <h3>{{ film.ad }}</h3>
    <input type="checkbox" [(ngModel)]="film.izlendiMi" name="" id="" />
  </div>
</div>

<hr />

<div *ngFor="let film of filmler">
  <div>
    <input
      type="checkbox"
      class="form-check-input"
      [(ngModel)]="film.izlendiMi"
      name=""
      id=""
    />
    {{ film.ad }}
    <span
      [ngClass]="film.izlendiMi ? 'bg-warning' : 'bg-dark'"
      class="badge bg-primary rounded-pill"
      >{{ film.izlendiMi ? 'İzledim' : 'İzlemedim' }}</span
    >
  </div>
  <hr />
</div>

<hr />

<button class="btn btn-success" (click)="filter()">
  Sadece İzlenmeyenleri Göster
</button>

<button class="btn btn-success" (click)="filterToggle()">
  {{ getButtonText() }}
</button>

<div *ngFor="let film of filmler">
  <div>
    <input
      type="checkbox"
      class="form-check-input"
      [(ngModel)]="film.izlendiMi"
      name=""
      id=""
    />
    {{ film.ad }}
    <span
      [ngClass]="film.izlendiMi ? 'bg-warning' : 'bg-dark'"
      class="badge bg-primary rounded-pill"
      >{{ film.izlendiMi ? 'İzledim' : 'İzlemedim' }}</span
    >
  </div>
  <hr />
</div>

<hr />

<p><a href="https://getbootstrap.com/"> getbootstrap.com/</a></p>

<hr />
<div>
  <input type="text" #filmAdiGirilen name="" id="" placeholder="Film Adı" />
  <button class="btn btn-danger" (click)="ekleFilm(filmAdiGirilen.value)">
    Ekle
  </button>
</div>

<br />
<br />
